{% extends 'base.html' %}

{% block title %}PROBA{% endblock title %}

{% block content %}


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>


  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      {% if jobs.0.logo %}
      <img src="{{ jobs.0.logo.url }}" class="d-block w-100" height="500px" />
      {% else %}
      <img src="/upload/noImage.jpeg" class="d-block w-100" height="500px" />
      {% endif %}
      <div class="carousel-caption d-none d-md-block h-25 w-50 mx-auto bg-secondary">
        <h5>{{ jobs.0.title }}</h5>
        <p>{% for tag in jobs.0.tags.all %}
          <span class="badge rounded-pill mb-3">{{ tag.name }}</span>
          {% endfor %}</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      {% if jobs.1.logo %}
      <img src="{{ jobs.1.logo.url }}" class="d-block w-100" height="500px" />
      {% else %}
      <img src="/upload/noImage.jpeg" class="d-block w-100" height="500px" />
      {% endif %}
      <div class="carousel-caption d-none d-md-block h-25 w-50 mx-auto bg-secondary">
        <h5>{{ jobs.1.title }}</h5>
        <p>{% for tag in jobs.1.tags.all %}
          <span class="badge rounded-pill mb-3">{{ tag.name }}</span>
          {% endfor %}</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      {% if jobs.2.logo %}
      <img src="{{ jobs.2.logo.url }}" class="d-block w-100" height="500px" />
      {% else %}
      <img src="/upload/noImage.jpeg" class="d-block w-100" height="500px" />
      {% endif %}
      <div class="carousel-caption d-none d-md-block h-25 w-50 mx-auto bg-secondary">
        <h5>{{ jobs.2.title }}</h5>
        <p>{% for tag in jobs.2.tags.all %}
          <span class="badge rounded-pill mb-3">{{ tag.name }}</span>
          {% endfor %}</p>
      </div>
    </div>
  </div>
  <!-- Inner -->

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>







{% endblock content %}