<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-header">
                {{ job.company }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ job.title }}</h5>
                <p class="mb-1">Tags:</p>
                {% for tag in job.tags.all %}
                <span class="badge rounded-pill bg-dark mb-3">{{ tag.name }}</span>
                {% endfor %}
                <p class="mb-1">Additional tags:</p>
                {% for custom_tag in job.custom_tags %}
                <span class="badge rounded-pill bg-secondary">{{ custom_tag }}</span>
                {% endfor %}
                <p class="card-text mt-3">{{ job.description }}</p>
            </div>
            <button class="btn btn-info mt-2" onclick="getPage('/my_job_detail/' + {{ job.id }})"> Refresh</button>
            <button class="btn btn-primary mt-2" onclick="getPage(url)"> Go back</button>
        </div>
    </div>
</div>