{% extends 'base.html' %}

{% block title %}PROBA REGISTER{% endblock title %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>Registration form</h1>
        <form method="post" enctype="multipart/form-data" 
            action="{% url 'register' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-2">
                <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}
                </label>
                {{ field }}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Register" />
        </form>
    </div>
</div>

{% endblock content %}